.header-bg{
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.text-info{
    margin-top: 16px;
    font-size: 24px;
}

.logo{
   padding: 21px 22px; 
}



.header-items{
    display:  flex;
    flex-wrap: wrap;
    gap: 47px;
    padding: 50px 40px;
}

.header-items li::after{
    content: url("../img/divider.png");
    margin: 16px;
}



  .header-items>li>a::before {
    content: "";

    position: absolute;

    width: 166px;
    height: 14px;
    
    transition: all 0.2s ease-in-out;
  }
  .header-items>li>a:hover{
    color: var(--secondary-p);
  }
  .header-items>li>a:hover::before {
    top: 50px;
    height: 14px;
    background-color: var(--secondary-p);
    width: 50px;
  }
  

.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-bottom: 367px;
}

.banner-text{
    font-size: 70px;
    /* Primeiro passo: definir um degradê como fundo */
  background-image:  linear-gradient(270deg, rgb(133, 54, 190) 38%, rgba(40,39,42,1) 64%);;
  
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: var(--black-p);
}

.container{
    align-self: center;
    justify-content: center;
    word-break: break-all;
    margin-left: 60px;
    
}



.experience{
    background-color: var(--gray--1);
    width: 910px;
    height: 1699px;
    margin: 0 auto;
    margin-bottom: 320px;
}

.skills{
    background-color: var(--gray--1);
    width: 826px;
    height: 1042px;
    margin: 0 auto;
    margin-top: 320px;
    margin-bottom: 439px;
}

.skills>p{
    color: var(--light-p);
    padding: 64px 74px 64px 74px;
}

.box-skills{
    width: 203px;
    height: 177px;
    background-color: var(--primary-p);
    border-radius: 24px;
    padding: 60px 58px 60px 58px;
}


.box-container-skills{
    display: flex;
    flex-direction: row;
    gap: 78px;
    margin-bottom: 68px;
    justify-content: center;
}

.projects{
    background-color: var(--gray-1);
    width: 950px;
    height: 626px;
    margin: 0 auto;
}

.border-box{ 
    color: var(--light-p);
    position: relative;
    top: -30px;
    margin: 0 auto;
    background-color: var(--primary-p);
    text-align: center;
    padding: 15px;
    width: 508px;
    height: 40px;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    align-items: center;
}

.sub-box2>aside>h3{
    color: var(--light-p);
    background-color: var(--primary-p);
    padding: 28px 84px 28px 84px;
    width: 300px;
    text-align: center;
    margin-left: 99px;
}

.sub-box2>aside>p{
    color: var(--light-p);
    background-color: var(--primary-p);
    padding: 10px 60px 10px 60px;
    width: 200px;
    text-align: center;
    margin-top: 37px;
    margin-left: 163px;
}

.experience-1{
    background-color: var(--primary-p);
    width: 560px;
    height: 513px;
    border-radius: 32px;
    position: relative;
    margin-top: 230px;
    left: -250px;
}

.border-xp{
    border-radius: 16px;
    text-align: center;
    padding: 22px 48px 22px 48px;
    width: 393px;
    background-color: var(--gray-1);
    color: var(--light-p);
    margin-left: 305px;
    position: relative;
    top: -20px;
}

.border-xp-p{
    position: relative;
    margin-left: 114px;
    margin-top: 70px;
    border-radius: 16px;
    padding: 20px 25px 20px 25px;
    width: 678px;
    background-color: var(--gray-1);
    color: var(--light-p);
}

.border-xp-p2{
    position: relative;
    margin-left: 353px;
    margin-top: 45px;
    border-radius: 16px;
    padding: 21px 28px 21px 28px;
    width: 290px;
    background-color: var(--gray-1);
    color: var(--light-p);
    text-align: center;
}


/* carroussel */
.swiper {
    width: 100%;
    height: 100%;
    overflow: visible !important;
  }
 
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.title-project{
    color: var(--light-p);
    position: absolute;
    left: -16px;
    top: 327px;
    background-color: var(--black-p);
    width: 370px;
    
    padding: 14px 55px 14px 55px;
}


.footer{
    width: 100%;
    height: 600px;
    background-color: var(--gray-p);
    background-image: url("../img/pattern2.png");
    background-repeat: no-repeat;
    color: var(--light-p);
    text-align: center;
}


.footer>p>span{
    color: var(--secondary-p);
}

.footer>a>img{
    margin-left: 22px;
    margin-bottom: 70px;
}

.calltoaction{
    width: 1161px;
    height: 348px;
    background-color: var(--primary-1);
    border: var(--secondary-p) solid 8px;
    border-radius: 32px;
    margin: 0 auto;
    position: relative;
    top: -200px;
    text-align: center;
    color: var(--light-p);
}

.calltoaction>p{
    margin-top: 64px;
}

.btn{
    margin-top: 62px;
    border-radius: 23px;
    border: solid 4px var(--secondary-p);
    width: 426px;
    padding: 23px 47px 23px 47px;
    background-color: rgba(113, 46, 161, 38%);
    color: var(--light-p);
    transition: all 0.2s ease-in-out;
}

.btn:hover{
    background-color: var(--primary--1);
    border-color: var(--primary--1);
}

#burguer{
    display: none;
}


#toggle {
    display: none;
  }

  #btnBackToTop {
    display: none; /* Ocultar o botão inicialmente */
    position: fixed; /* Fixar o botão na tela */
    bottom: 20px;
    right: 20px;
    z-index: 99; /* Certifique-se de que o botão esteja na parte superior de outros elementos */
    cursor: pointer;
    background-color: var(--primary-p);
    color: var(--light-p);
    border-radius: 71px;
    font-size: 20px;
    width: 75px;
    height: 75px;
    border: none;
    transition: all 0.5s;
  }

  #btnBackToTop:hover{
    background-color: var(--primary--1);
  }

  [data-anime] {
    opacity: 0;
  }
  .anime {
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 0.8s;
  }

  .skillsbreads{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    flex-wrap: wrap;
    gap: 8px;
  }

  .breadcrumb{
    background-color: var(--primary--1);
    padding: 8px;
    border-radius: 8px;
    color: var(--light-p);
  }

@media (max-width: 1290px) {
    .banner{
      grid-template-columns: 1fr;  
    }
    .header-items>li>a{
        font-size: 1.20rem;
    }
}

@media (max-width:1000px){
    .header-bg{
        height: 400px;
        justify-content: center;
    }
    .header-items li::after{
        content: none;
    }
    .header-items>li>a:hover::before {
        top: 240px;
        height: 14px;
        background-color: var(--secondary-p);
        width: 50px;
      }
    .experience{
        width: 700px;
    }
    .projects{
        width: 600px;
    }
    .swiper{
        overflow: hidden !important;
    }
    .title-project{
        left: -10px;
        top: 200px;
        width: 190px;
    }

    .box{
        grid-template-columns: 1fr;
    }
    .experience-1{
        margin-left: 320px;
    }
    
    .border-xp{
        margin-left: 50px;
    }
    .border-xp-p{
        margin-left: -90px;
        word-break: break-all;
    }
    .border-xp-p2{
        margin-left: 110px;
    }
    .sub-box2{
       margin-top: 150px;
       margin-left: -40px;
       margin-bottom: 80px;
    }
    .border-box{
        width: 400px;
    }
    .skills{
        width: 600px;
        height: 1400px;
    }
    .box-container-skills{
        display: block;
    }
    .box-skills{
        margin-bottom: 32px;
    }
    .flexible-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        column-gap: 32px;
        justify-content: center;
    }
    .calltoaction{
        width: 80%;
    }
}


@media (max-width: 700px){
    .header-bg{
        height: 120px;
        justify-content: center;
    }
    
    .header-items>li>a{
        color: var(--light-p);
    }

    .header-items li::after{
        content: none;
    }

    .banner{
        margin-top: 150px;
    }
    
    #burguer {
        display: block;
        font-size: 48px;
       margin: 0 auto;
       margin-top: 32px;
       cursor: pointer;
    }

    .banner p{
        font-size: 3.033rem;
        margin-right: 25px;
    }
    
    .header-items{
        justify-content: center;
        flex-wrap: wrap;
        
    }
    .header-items>li>a::before {
        content: none;
      }
    .experience{
        width: 350px;
    }
    .experience-1{
        width: 300px;
        background: transparent;
    }
    .box{
        width: 200px;
    }
    .border-box{
        width: 220px;
    }
    .border-xp{
        width: 220px;
    }
    .border-xp-p{
        width: 340px;
        margin-left: 10px;
    }
    .border-xp-p2{
        width: 220px;
        margin-left: 70px;
    }
    .sub-box1{
        width: 220px;
        margin: 0 auto;
        margin-left: -100px;
    }
    .sub-box2{
        margin-top: 25px;
    }
    .sub-box2>aside>p{
        width: 50%;
        padding: 15px 50px 15px 50px ;
        margin-left: 90px;
    }
    .sub-box2>aside>h3{
        width: 150px;
        padding: 8px 24px;
        margin-left: 120px;
    }
    .sub-box2>aside{
        margin-left: -80px;
    }
    .projects{
        width: 400px;
        height: 500px;
    }
    .title-project{
        padding: 8px 25px;
        width: 140px;
        top: 110px;
    }
    .skills{
        width: 400px;
        height: 1300px;
    }
    .box-container-skills{
        display: block;
    }
    .box-skills{
        margin-bottom: 32px;
        padding: 30px 25px;
        width: 160px;
        height: 130px;
       
    }
    .calltoaction{
        width: 80%;
    }
    .calltoaction p{
        font-size: 1.5rem;
        padding-left: 16px;
        padding-right: 16px;
    }
    .btn{
        width: 290px;
    }

    
      
      /**
        Hamburger
      **/
      .hamburger {
        position: absolute;
        top: 5em;
        right: 5%;
        margin-left: -2em;
        margin-top: -45px;
        width: 2em;
        height: 45px;
        z-index: 5;
      }
      
      .hamburger div {
        position: relative;
        width: 3em;
        height: 7px;
        border-radius: 3px;
        background-color: var(--primary-p);
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
      }
    
      /**
    Animations
    **/
    #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
      }
      #toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
      }
      #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
      }
      
      #toggle:checked + .hamburger + .nav {
        top: 0;
        transform: scale(1);
      }

      #menu {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 120px;
        background: var(--gray-1);
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 20px;
    }
    
    #toggle:checked ~ #menu {
        display: flex;
    }
    
    #menu ul {
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    
    #menu ul li {
        margin-bottom: 10px;
    }
    
    #menu ul li a {
        text-decoration: none;
        color: var(--light-p);
    }
    
    #menu ul li a:hover {
        color: var(--secondary-p);
    }
}

@media (max-width:500px){
    #menu {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 120px;
        background: var(--gray-1);
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 20px;
    }
    
    #toggle:checked ~ #menu {
        display: flex;
    }
    
    #menu ul {
        list-style: none;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    
    #menu ul li {
        flex: 1 1 calc(50% - 10px); 
        margin-bottom: 10px;
    }
    
    #menu ul li a {
        text-decoration: none;
        color: var(--light-p);
        display: block;
        text-align: center; 
    }
}