:root{
    --primary-p: #441566;
    --primary-1: #341849;
    --primary--1: #6C3196;
    --secondary-1: #C78DE2;
    --secondary-p: #B040E3;
    --secondary--1: #8F0CCA;
    --gray-1: #4D4A54;
    --gray-p: #28272A;
    --gray--1: #1A1721;
    --black-p: #141415;
    --light-p: #F2F2FF;
}